<h2><a>1. Cover page</a></h2>
<div id="basic_data"><p>&nbsp;</p></div>


<h2><a>2. Project objectives, work progress and achievements during the period</a></h2>
<div id="project_objectives_and_work_progress">
    <h3>Project objectives for period from AnnexI</h3>
    <div id="project-objectives-for-period" class="editable freeText">
        <p> {project-objectives-for-period-from-AnnexI} </p>
    </div>
    <h3> Recommendations from previous reviews</h3>
    <div id="Recommendations-from-previous-reviews" class="editable freeText">
        <p> {summary of the recommendations from the previous reviews (if any) and indicate how these have been taken into account}.</p>
    </div>
    <h3>Work progress and achievements during the period</h3>
    <p>Please provide a concise overview of the progress of the work in line with the structure of Annex I to the Grant Agreement.</P>
    <div class="workProgressPerWPList"></div>
</div>

<h2><a>3. Project management during the period</a></h2>
<div id="project_management">
    <h3>Consortium management tasks and achievements</h3>
    <p contenteditable> free text: Consortium management tasks and achievements</p>
    <h3>Problems which have occurred and how they were solved or envisaged solutions</h3>
    <p contenteditable> free text: Problems which have occurred and how they were solved or envisaged solutions </p>
    <h3>Changes in the consortium</h3>
    <p contenteditable> free text: Changes in the consortium</p>
    <h3>List of project meetings, dates and venues</h3>
    <p>{project meetings, dates and venues}</p>
    <h3>Project planning and status</h3>
    
    <p> {table: planned vs. actual vs. deviation per task per reporting period (year) * (transposition}
    
    <p contenteditable>free text description</p>
    <h3>Impact of possible deviations from the planned milestones and deliverables</h3>
    <p contenteditable>possible deviations from the planned milestones and deliverables</p>
    <h3> Any changes to the legal status of any of the beneficiaries, in particular non-profit public bodies, secondary and higher education establishments, research organisations and SMEs</h3>
    <p contenteditable>change in legal status</p>
    <h3>Development of the Project website</h3>
    <p contenteditable>free text: development of website</p>
    <h3>Information on co-ordination activities during the period in question, such as communication between beneficiaries, possible co-operation with other projects/programmes etc.</h3>
    <p contenteditable>free text: communication and co-operation</p>
</div>

<h2><a>4. Deliverables</a></h2>
<div id="deliverables_and_milestones_tables">
    <h3>Deliverables</h3>
    <div id="delivList">
        <div class="content"></div>
    </div>
</div>

