<!--<script id="monitoringDelivStatusTableStatic" type="text/x-jquery-tmpl">-->
<table class="monitoringDelivStatusTable" style="border: solid 1px #ccc;>
	<tr style="background-color: #eee;">
		<th>Deliverables</th>
		<th>Deadline</th>
		<th>Name</th>
		<th>History</th>
	</tr>
</table>

