<h2><a>1. Cover page</a></h2>
<div id="basic_data"><p>&nbsp;</p></div>

<h2><a>2. Declaration by the scientific representative of the project coordinator</a></h2>
<div id="declaration_of_coordinator">
    I, as scientific representative of the coordinator of this project and in line with the obligations as stated in Article II.2.3 of the Grant Agreement declare that:
    <ul>
        <li>The attached periodic report represents an accurate description of the work carried out in this project for this reporting period;</FONT></P>
        <li><p> The project (tick as appropriate): </p>
            <div id="goals">
                <form id="achieved-goals" action="">
                    <p> <input type="radio" name="achieved-goals" value="full"> has fully achieved its objectives and technical goals for the period;</p>
                    <p> <input type="radio" name="achieved-goals" value="most"> has achieved most of its objectives and technical goals for the period with relatively minor deviations.</p>
                    <p> <input type="radio" name="achieved-goals" value="failed"> has failed to achieve critical objectives and/or is not at all on schedule.</p>
                </form>
            </div>        
        </li>
        <li><p>The public website, if applicable</p>
            <form id="website-status" action="">
                <p> <input type="radio" name="website-status" value="uptodate"> is up to date</p>
                <p> <input type="radio" name="website-status" value="notuptodate"> is not up to date</p>
            </form>
        </li>
        <li>To my best knowledge, the financial statements which are being submitted as part of this report are in line with the actual work carried out and are consistent with the report on the resources used for the project (section 3.4) and if applicable with the certificate on financial statement.</li>
        <li>All beneficiaries, in particular non-profit public bodies, secondary and higher education establishments, research organisations and SMEs, have declared to have verified their legal status. Any changes have been reported under section 3.2.3 (Project Management) in accordance with Article II.3.f of the Grant Agreement.</li>
    </ul>
    
    <div id="signature">
        <p>Signature</p> 
        <p>Name of scientific representative of the Coordinator: /signature/</p>
        <p>Date: <time>${iks.ipc.tools.formatDate(new Date())}</time></p>
        For most of the projects, the signature of this declaration could be done directly via the IT reporting tool through an adapted IT mechanism.</FONT></FONT></P>
    </div>
</div>

<h2><a>3. Publishable summary</a></h2>
<div>
    <div id="publishable-summary" class="editable freeText">http://</div>
</div>

<h2><a>4. Project objectives, work progress and achievements during the period</a></h2>
<div id="project_objectives_and_work_progress">
    <h3>Project objectives for period from AnnexI</h3>
    <div id="project-objectives-for-period" class="editable freeText">
        <p> {project-objectives-for-period-from-AnnexI} </p>
    </div>
    <h3> Recommendations from previous reviews</h3>
    <div id="Recommendations-from-previous-reviews" class="editable freeText">
        <p> {summary of the recommendations from the previous reviews (if any) and indicate how these have been taken into account}.</p>
    </div>
    <h3>Work progress and achievements during the period</h3>
    <p>Please provide a concise overview of the progress of the work in line with the structure of Annex I to the Grant Agreement.</P>
    <div class="workProgressPerWPList"></div>
</div>

<h2><a>5. Project management during the period</a></h2>
<div id="project_management">
    <h3>Consortium management tasks and achievements</h3>
    <p contenteditable> free text: Consortium management tasks and achievements</p>
    <h3>Problems which have occurred and how they were solved or envisaged solutions</h3>
    <p contenteditable> free text: Problems which have occurred and how they were solved or envisaged solutions </p>
    <h3>Changes in the consortium</h3>
    <p contenteditable> free text: Changes in the consortium</p>
    <h3>List of project meetings, dates and venues</h3>
    <p>{project meetings, dates and venues}</p>
    <h3>Project planning and status</h3>
    
    <p> {table: planned vs. actual vs. deviation per task per reporting period (year) * (transposition}
    
    <p contenteditable>free text description</p>
    <h3>Impact of possible deviations from the planned milestones and deliverables</h3>
    <p contenteditable>possible deviations from the planned milestones and deliverables</p>
    <h3> Any changes to the legal status of any of the beneficiaries, in particular non-profit public bodies, secondary and higher education establishments, research organisations and SMEs</h3>
    <p contenteditable>change in legal status</p>
    <h3>Development of the Project website</h3>
    <p contenteditable>free text: development of website</p>
    <h3>Information on co-ordination activities during the period in question, such as communication between beneficiaries, possible co-operation with other projects/programmes etc.</h3>
    <p contenteditable>free text: communication and co-operation</p>
</div>

<h2><a>6. Deliverables</a></h2>
<div id="deliverables_and_milestones_tables">
    <h3>Deliverables</h3>
    <div id="delivList">
        <div class="content"></div>
    </div>
</div>

<h2><a>7. explanation of use of resources</a></h2>
<div id="explanation_of_use_of_resources">not yet implemented</div>

