<p>Grant Agreement number: <b>${basicData.projectGrantAgreementNumber}</b></P>
<p>Project acronym: <abbr><b>${basicData.projectAcronym}</b></abbr></P>
<p>Project title: <b>${basicData.projectLabel}</b></P>
<p>Project website address: <a href="${basicData.projectWebsiteUrl}" target="_blank">${basicData.projectWebsiteUrl}</a></p>
<p>Funding Scheme: <b>${basicData.fundingScheme}</b></P>
<p>Date of latest version of Annex I against which the assessment will be made: <b>${basicData.projectContractDate}</b></P>

<div id="period">
    <p>Period covered: from <b>${basicData.reportStartDate}</b> to <b>${basicData.reportEndDate}</b> </p>
</div>
<div id="address_of_scientific_representative_of_project">
    <p>Project coordinator: <b>${basicData.leadOrganisation}</b></p>
</div>
